* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:beige;
}
.calc_body {
    border: 10px saddlebrown;
    border-style:ridge;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1%;
    width: 300px;
    height: 420px;
    padding: 10px;
    justify-content: space-around;
    background-color: tan;
}

.calc_screen {
    border: 5px ridge burlywood;
    border-radius: 1%;
    padding: 5px;
    width: 100%;
    height: 60px;
    font-size: xx-large;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: wheat;
}

.butt_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.butt_row button {
    width: 55px;
    height: 55px;
    font-size: xx-large;
    font-family: monospace;
    border-color: darkgoldenrod;
    border-width: 3.5px;
    border-radius: 1px;
    background-color: wheat;
}
button.wide_butt {
    width: 120px;
}

button.operator, button.equals, button.clear{
    border-color:sienna;
}

button.clear, button.equals {
    background-color: burlywood;
    font-weight: bold;
}

